{% extends 'base.html' %}

{% block content %}
    <h2>Новости</h2>
    <div class="news-list">
        {% for news_item in news %}
            <div class="news-preview">
                <a href="{% url 'news_detail' news_item.id %}" class="news-link">
                    {% with featured_image=news_item.featured_image %}
                        <div class="news-image-wrapper">
                            {% if featured_image %}
                                <img src="{{ featured_image.image.url }}" alt="{{ news_item.title }}" class="news-thumbnail">
                            {% else %}
                                <img src="/static/images/news-placeholder.jpg" alt="Новость без изображения" class="news-thumbnail">
                            {% endif %}
                        </div>
                    {% endwith %}
                    <div class="news-info">
                        <h3>{{ news_item.title }}</h3>
                        <p class="news-date">{{ news_item.date|date:"d.m.Y" }}</p>
                        <p class="news-excerpt">{{ news_item.content|truncatewords:30 }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}