{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/employees.css' %}">
{% endblock %}

{% block content %}
    <h2>Наши сотрудники</h2>
    <div class="employees-table-container">
        <table class="employees-table">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Фото</th>
                    <th>Должность</th>
                    <th>Рабочий телефон</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.name }}</td>
                    <td>
                        {% if employee.photo %}
                                <img src="{{ employee.photo.url }}" alt="{{ employee.name }}" class="employee-photo">

                        {% else %}
                            <img src="{% static 'images/employee-placeholder.jpg' %}" alt="Нет фото" class="employee-photo">
                        {% endif %}
                    </td>
                    <td>{{ employee.position }}</td>
                    <td>{% if employee.phone %}{{ employee.phone }}{% else %}—{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
